[submodule "controller-conviron"]
	path = controller-conviron
	url = git@github.com:appf-anu/controller-conviron.git
[submodule "controller-psi-light"]
	path = controller-psi-light
	url = git@github.com:appf-anu/controller-psi-light.git
[submodule "controller-heliospectra"]
	path = controller-heliospectra
	url = git@github.com:appf-anu/controller-heliospectra.git
[submodule "ipeye"]
	path = ipeye
	url = git@github.com:appf-anu/ipeye.git
